{:deps {org.clojure/clojure {:mvn/version "1.12.3"}}
 :aliases
 {:repl
  {:jvm-opts ["-Xmx8g"
              "-Xms8g"
              "-XX:+UnlockDiagnosticVMOptions"
              "-XX:+DebugNonSafepoints"
              "-Djdk.attach.allowAttachSelf"
              "-XX:+EnableDynamicAgentLoading"]
   :exec-fn repl/start
   :extra-deps {cider/cider-nrepl {:mvn/version "0.58.0"}
                nrepl/nrepl       {:mvn/version "1.5.1"}
                com.clojure-goes-fast/clj-async-profiler {:mvn/version "1.6.2"}
                org.clojure/data.xml {:mvn/version "0.2.0-alpha9"}}}}}
